/* override the default ant design theme */
table {
  font-family: Outfit;
}

th,
td {
  font-weight: 500;
}

th {
  color: var(--color-text-800) !important;
  letter-spacing: 0.02em;
  font-size: 15px;
  line-height: 15px;
  padding: 13px 16px !important;
  white-space: nowrap;
}
td {
  color: var(--color-text-700) !important;
  padding: 14px !important;
  font-size: 14px;
  line-height: 18px;
}

@media only screen and (min-width: 768px) {
  td {
    padding: 18px 16px !important;
  }
}

.custom-tabs,
.custom-tabs .ant-tabs-content-holder,
.custom-tabs .ant-tabs-content,
.custom-tabs .ant-tabs-tabpane {
  height: 100%;
}
