@import 'tailwindcss';

ul {
  list-style: disc;
}

mark {
  background: var(--color-amber-200);
}

/* width */
::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}
/* Track */
::-webkit-scrollbar-track {
  background: var(--color-primary-50);
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--color-primary-200);
  border-radius: 5px;
}

/* Ant Design Table */
.ant-table-wrapper .ant-table {
  scrollbar-color: unset;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-weight: 500;
  overflow: hidden;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--text-900);
}

@theme {
  --color-off-white: #f5f5f5;

  --color-primary-50: #fff7ed;
  --color-primary-100: #ffedd4;
  --color-primary-200: #ffd7a8;
  --color-primary-300: #ffb86a;
  --color-primary-400: #f98635;
  --color-primary-500: #f98635;
  --color-primary-600: #f54a00;
  --color-primary-700: #ca3500;
  --color-primary-800: #9f2d00;
  --color-primary-900: #7e2a0c;

  /*--color-primary-50: #f0f3f9;*/
  /*--color-primary-100: #ccd6eb;*/
  /*--color-primary-200: #99add6;*/
  /*--color-primary-300: #5476bb;*/
  /*--color-primary-400: #335cad;*/
  /*--color-primary-500: #003399;*/
  /*--color-primary-600: #002e8a;*/
  /*--color-primary-700: #00246b;*/
  /*--color-primary-800: #001a4d;*/
  /*--color-primary-900: #00143d;*/
  /*--color-primary-950: #000a1f;*/

  --color-emerald-50: #ecfdf5;
  --color-emerald-100: #d1fae5;
  --color-emerald-200: #a7f3d0;
  --color-emerald-300: #6ee7b7;
  --color-emerald-400: #34d399;
  --color-emerald-500: #10b981;
  --color-emerald-600: #059669;
  --color-emerald-700: #047857;
  --color-emerald-800: #065f46;
  --color-emerald-900: #064e3b;
  --color-emerald-950: #022c22;

  --color-amber-50: #fffbeb;
  --color-amber-100: #fef3c7;
  --color-amber-200: #fde68a;
  --color-amber-300: #fcd34d;
  --color-amber-400: #fbbf24;
  --color-amber-500: #f59e0b;
  --color-amber-600: #d97706;
  --color-amber-700: #b45309;
  --color-amber-800: #92400e;
  --color-amber-900: #78350f;
  --color-amber-950: #451a03;

  --color-red-50: #fef2f2;
  --color-red-100: #fee2e2;
  --color-red-200: #fecaca;
  --color-red-300: #fca5a5;
  --color-red-400: #f87171;
  --color-red-500: #ef4444;
  --color-red-600: #dc2626;
  --color-red-700: #b91c1c;
  --color-red-800: #991b1b;
  --color-red-900: #7f1d1d;
  --color-red-950: #450a0a;

  --color-green-50: #f0fdf4;
  --color-green-100: #dcfce7;
  --color-green-200: #bbf7d0;
  --color-green-300: #86efac;
  --color-green-400: #4ade80;
  --color-green-500: #22c55e;
  --color-green-600: #16a34a;
  --color-green-700: #15803d;
  --color-green-800: #166534;
  --color-green-900: #14532d;
  --color-green-950: #052e16;

  --color-gray-50: #ffffff;
  --color-gray-100: #f9fafb;
  --color-gray-200: #f6f6f9;
  --color-gray-300: #f4f4f4;
  --color-gray-400: #edeeef;
  --color-gray-500: #ececec;
  --color-gray-600: #ececef;
  --color-gray-700: #e1e1e5;
  --color-gray-800: #d9d9de;
  --color-gray-900: #c3c3cb;
  --color-gray-950: #b8b8c1;
  --color-gray-light: #fafafa;

  --color-text-50: #e5e5e5;
  --color-text-100: #d1d1d1;
  --color-text-200: #bebebe;
  --color-text-300: #a9a9a9;
  --color-text-400: #7e7e7e;
  --color-text-500: #6c6c6c;
  --color-text-600: #5f6062;
  --color-text-700: #4a4d53;
  --color-text-800: #404348;
  --color-text-900: #31343a;
  --color-text-950: #292a2e;

  --spacing-0\.75: 3px;
  --spacing-1\.25: 5px;
  --spacing-1\.75: 7px;
  --spacing-2\.25: 9px;
  --spacing-2\.75: 11px;
  --spacing-3\.75: 15px;
  --spacing-4\.5: 18px;
  --spacing-4\.75: 19px;
  --spacing-5\.5: 22px;
  --spacing-6\.25: 25px;
  --spacing-6\.5: 26px;
  --spacing-9\.5: 38px;
  --spacing-13\.5: 54px;
  --spacing-15\.5: 62px;
  --spacing-18: 72px;

  --animate-appear-top-xs: appear-top-xs 0.3s linear 0s 1 normal forwards;
  --animate-appear-bottom-xs: appear-bottom-xs 0.3s linear 0s 1 normal forwards;
  --animate-disappear-bottom-xs: disappear-bottom-xs 0.3s linear 0s 1 normal forwards;
  --animate-slide-right: slide-right 0.3s linear 0s 1 normal forwards;
  @keyframes slide-right {
    0% {
      opacity: 1;
      transform: translateX(0);
    }

    100% {
      display: none;
      opacity: 0;
      transform: translateX(250px);
    }
  }
  @keyframes appear-top-xs {
    0% {
      opacity: 0;
      transform: translateY(-15px);
    }

    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  @keyframes appear-bottom-xs {
    0% {
      opacity: 0;
      transform: translateY(15px);
    }

    100% {
      opacity: 1;
      transform: translateY(-10px);
    }
  }
  @keyframes disappear-bottom-xs {
    0% {
      transform: translateY(0);
    }

    100% {
      transform: translateY(-25px);
    }
  }
}

.custom-menu .ant-menu-item {
  padding-block: 25px !important;
}
.mobile-custom-menu .ant-menu-item {
  margin-bottom: -4px !important;
}

/* primary sidebar menu items */
.sidebar .ant-menu-item {
  border-left: 3px solid transparent;
  @apply h-10 md:h-11 m-0 rounded-none px-5.5! text-[15px] lg:text-base [&_svg]:shrink-0 [&_svg]:size-5 lg:[&_svg]:size-6 flex items-center;
}

.workspace-tabs .ant-tabs-nav {
  margin-bottom: 0 !important;
  padding-inline: 20px;
}

.sidebar .ant-menu-item-active:hover {
  background-color: transparent !important;
  color: var(--color-primary-600) !important;
}

.sidebar .ant-menu-light .ant-menu-item-selected {
  background-color: transparent !important;
  color: var(--color-primary-600) !important;
  border-left: 3px solid #00246b;
}
.sidebar-drawer .ant-drawer-header {
  display: none !important;
}

/* active submenu color */
.ant-menu-item-selected {
  color: var(--color-primary-600) !important;
}

/* table hover effect */
.hoverable tr:hover > td {
  cursor: pointer;
  background: var(--color-primary-50) !important;
}

.hoverable tr.cursor-not-allowed:hover > td {
  cursor: not-allowed !important;
  background: inherit !important;
}
/* capitalize initial */
.capitalize {
  text-transform: lowercase;
}
.capitalize::first-letter {
  text-transform: capitalize;
}

/* text-transform: capitalize */
.text-capitalize {
  text-transform: capitalize;
}

/* avatar popover width */
.ant-avatar-group-popover {
  max-width: 400px;
}

/* audio tag */
audio {
  width: 100%;
}

.ant-input::placeholder {
  color: #7e7e7e;
  height: 24px;
}
.ant-otp .ant-otp-input {
  height: 50px;
  font-size: 20px;
  color: var(--color-primary-500);
}

.ant-otp .ant-otp-input.ant-input-status-error {
  color: red !important;
}

input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.app-select .ant-select-selection-placeholder {
  font-size: 15px;
  font-weight: 400;
  color: var(--color-text-400);
}

.app-select .ant-select-selection-item {
  font-size: 15px;
  font-weight: 500;
  color: var(--color-text-600);
}

/* chargebee card component styles start */
.card_input {
  border: 1px solid var(--color-gray-500);
  border-radius: 10px;
  padding: 14px;
  font-size: 16px;
  font-weight: 400;
  color: var(--color-text-400);
  transition: all 0.15s ease;
  height: 44px;
  cursor: text;
  padding-top: 10px;
  padding-bottom: 10px;
  &:hover {
    border-color: var(--color-primary-500);
  }
}

.card_input.invalid {
  border-color: var(--color-red-500);
}

.card_input:focus {
  border-color: var(--color-primary-500);
  &:hover {
    border-color: var(--color-primary-500);
  }
}
/* chargebee card component styles end */

.my-numbers-tabs .ant-radio-button-wrapper:before,
.my-numbers-tabs .ant-radio-button-wrapper-checked {
  background-color: var(--color-primary-50) !important;
  border-color: var(--color-primary-50) !important;
}

.plan .ant-radio-button-wrapper {
  border: 8px;
  border-radius: 24px;
  border-color: transparent;
}

.plan .ant-radio-button-wrapper-checked {
  border: 8px;
  border-radius: 24px;
  border-color: #e5eaf5;
}

.plan .ant-radio-button-wrapper:not(:first-child)::before {
  display: none;
}

.selected-flag {
  background-color: transparent !important;
}
.PhoneInputInput {
  outline: none;
}

.custom-dropdown .ant-dropdown-menu {
  max-height: 250px;
}

/* Tooltip */
.app_tooltip .ant-tooltip-arrow {
  display: none;
}
.ant-tooltip:not(.app_tooltip) .ant-tooltip-arrow {
  @apply hidden! lg:block!; /* hide tooltip for smaller devices */
}

.app_tooltip .ant-tooltip-inner {
  width: 332px;
  background: var(--color-white);
  color: var(--color-text-500);
  border-radius: 8px;
  border: 1px solid var(--color-gray-500);
}

.app_tooltip--auto-width .ant-tooltip-inner {
  width: auto !important;
}

.grecaptcha-badge {
  width: 70px !important;
  overflow: hidden !important;
  transition: all 0.3s ease !important;
  left: 4px !important;
}

.grecaptcha-badge:hover {
  width: 256px !important;
}

.ant-tooltip:not(.app_tooltip) .ant-tooltip-inner {
  @apply hidden lg:block; /* hide tooltip for smaller devices */
}
.ant-tooltip-inner {
  background-color: white !important;
  color: var(--color-primary-700) !important;
  border: 1px solid var(--color-gray-800);
}

/* Filter DatePicker styles */
#filter-panel .ant-picker-dropdown-range {
  padding: 0;
}
#filter-panel .ant-picker-dropdown .ant-picker-panel-container {
  box-shadow: unset;
}
#filter-panel .ant-picker-range-arrow {
  display: none !important;
}

/* sidebar padding for plus icon */
.custom-sidebar-menu .ant-menu-submenu-title {
  padding-inline: 10px !important;
}

.ant-modal .ant-modal-close {
  color: #4a4d53 !important;
}

.contact-dropdown-root .ant-dropdown-menu .ant-dropdown-menu-item {
  font-size: var(--text-sm);
  padding: 6px;
}
.ant-otp {
  @apply gap-4 sm:gap-6.25;
}
.ant-steps.ant-steps-label-vertical .ant-steps-item-tail {
  padding: 0 40px !important;
}

.app-stepper .app-stepper-sticky {
  border-radius: 44px;
  padding: 10px 18px;
  border: 1px solid var(--color-gray-500);
  background-color: white;
  position: sticky;
  top: 30px;
  z-index: 99;
  width: 100%;
  background-color: red;
}

.ant-steps .ant-steps-item-tail::after {
  height: 2px !important;
}

.app-stepper.app-stepper .ant-steps-item-wait .ant-steps-item-icon {
  border-color: var(--color-gray-500);
  background-color: transparent;
}

.app-stepper.app-stepper .ant-steps-item-finish .ant-steps-item-icon {
  background: var(--color-primary-500);
  border: transparent;
}

.app-stepper.app-stepper .ant-steps-item-finish .ant-steps-item-icon svg {
  color: var(--color-gray-500) !important;
}

.app-stepper.app-stepper__compact .ant-steps-item-icon {
  margin-inline-start: 34px;
}

.app-stepper.app-stepper__compact .ant-steps-item-content {
  width: 102px;
}

.custom-radio .ant-radio-button-wrapper.ant-radio-button-wrapper-checked {
  background-color: var(--color-gray-100);
  color: var(--color-primary-500);
}
/* sidebar submenu */
.sidebar-submenu {
  @apply bg-transparent pt-3! h-full px-2.75! [&>li]:mb-3 overflow-auto [&_svg]:size-5 lg:[&_svg]:size-6;
}
.sidebar-submenu .ant-menu-item-group .ant-menu-item-group-title {
  @apply py-1 px-2 tracking-[0.04em];
}
.sidebar-submenu .ant-menu-item {
  @apply gap-0 lg:gap-1 h-10! lg:h-11! m-0! mt-0.5! p-0! px-3! w-full! text-[15px] lg:text-base;
}

/* dashboard charts */
.recharts-wrapper .recharts-legend-item-text {
  @apply text-sm lg:text-base;
}
